.connection-form {
	background: $color-4;
	border-radius: 20px;
	padding: 20px;
	margin-top: 150px;
	width: 80%;
	z-index: 1;

	@media screen and(min-width: 550px) {
		width:440px;
	}
	
	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 18px;

		li {
			cursor: pointer;
			border-radius: 20px;
			padding: 12px 14px;
			transition: .2s;
			margin: 0 8px;
		}

		.active-btn {
			background: $color-1;

			&:hover {
				background: $color-2;
			}
		}

		li:not(.active-btn) {
			&:hover {
				transform: translateX(3px)
			}
		}
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;

		input {
			padding: 10px 14px;
			margin: 0;
			font-size: 1.2rem;
			font-family: $font-2;
			border-radius: 20px;
			width: 100%;

			&:focus {
				box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
			}
		}

		input[type=submit] {
			padding: 14px 14px;
			border-radius: 20px;
		}
	}
}